body{
  text-align: left;
background-color: #F7F6F2;
font-family: 'Vollkorn', serif;
color: #362222;
}
h2{
  text-align: center;
  padding-top: 3%;
  font-size: 27px;
}
.topi{
  padding-left: 3%;
  padding-right: 4%;
  font-size: 18px;
}
.menel2{
  padding-left: 4%;
  padding-top: 2%;
  width:15%;
  height:auto;
}

.menel1{
  padding-left: 4%;
  padding-top: 2%;
  width:18%;
  height:auto;
}
.doci{
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 4%;
  font-size: 18px;
}
.zadi{
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 4%;
  font-size: 20px;
  padding-bottom: 5%;
}
